{% extends 'base.html.twig' %}
{% block title %}Incio - Fcts{% endblock %}
{% block container %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('incio') }}">Incio</a></li>
            <li class="breadcrumb-item active" aria-current="page">FCTs</li>
        </ol>
    </nav>
    <div class="card mb-4">
        <div class="card-body">
            <h1><i class="fas fa-book"></i> FCTs <a href="{{ path('fcts_new') }}"><i class="fas fa-plus-square text-primary float-right"></i></a></h1>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="text-center">
            <th scope="col">Alumno</th>
            <th scope="col">Empresa</th>
            <th scope="col">Profesor</th>
            <th scope="col">Ciclo</th>
            <th scope="col">Año</th>
            <th scope="col">Periodo</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for fct in fcts %}
                <tr class="text-center">
                    <th scope="row">{{ fct.alumno.nombre }} {{ fct.alumno.apellido1 }} {{ fct.alumno.apellido2 }}</th>
                    <td>{{ fct.empresa.nombre }}</td>
                    <td>{{ fct.profesor.nombre }}</td>
                    <td>{{ fct.ciclo.nombre }} ({{ fct.ciclo.codigo }})</td>
                    <td>{{ fct.anio }}</td>
                    <td>{{ fct.periodo }}</td>
                    <td>
                        <a role="button" href="{{ path('fcts_edit', {'id': fct.id}) }}" class="btn btn-success text-light mb-1 mb-sm-1 mb-md-0"><i class="fas fa-edit"></i></a>
                        <a role="button" href="{{ path('alumnos_delete', {'id': fct.id}) }}" class="btn btn-danger text-light mb-1 mb-sm-1 mb-md-0"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if fcts.haveToPaginate %}
        <nav>
            {{ pagerfanta(fcts, 'twitter_bootstrap4_translated', {'omitFirstPage': true, 'pageParameter': '[p]', 'css_container_class': 'pagination justify-content-center'}) }}
        </nav>
    {% endif %}
{% endblock %}