{% extends 'base.html.twig' %}
{% block title %}Incio - Alumnos{% endblock %}
{% block body %}
    {% block container %}
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr class="text-center">
                    <th scope="col">NIF</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">1ยบ Apellido</th>
                    <th scope="col">2ยบ Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos %}
                        <tr class="text-center">
                            <th scope="row">{{ alumno.nif }}</th>
                            <td>{{ alumno.nombre }}</td>
                            <td>{{ alumno.apellido1 }}</td>
                            <td>{{ alumno.apellido2 }}</td>
                            <td>{{ alumno.correo }}</td>
                            <td><button class="btn btn-primary mr-1"><i class="fas fa-user"></i></button>
                                <button class="btn btn-success mr-1"><i class="fas fa-edit"></i></button>
                                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}