{% extends 'base.html.twig' %}
{% block body %}
    {% block container %}
        <div class="container mt-4">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.nombre) }}
                {{ form_row(form.apellido1) }}
                {{ form_row(form.apellido2) }}
                {{ form_row(form.crear, { 'attr': {class: 'btn-primary'} }) }}
            {{ form_end(form) }}
        </div>
    {% endblock %}
{% endblock %}