{% extends 'base.html.twig' %}
{% block title %}Ver - Empresas{% endblock %}
{% block container %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('incio') }}">Incio</a></li>
            <li class="breadcrumb-item"><a href="{{ path('empresas') }}">Empresas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ver</li>
        </ol>
    </nav>
    <div class="row">
        <ul class="list-group col-sm-12 col-md-12 mb-2">
            <li class="list-group-item text-light mb-0 bg-primary font-weight-bold text-uppercase text-center"><h3 class="font-weight-bold"><i class="fas fa-info-circle"></i> Datos de la empresa</h3></li>
            <li class="list-group-item"><span class="font-weight-bold">CIF:</span> {{ empresa.cif }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Nombre:</span> {{ empresa.nombre }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Nombre del Tutor:</span> {{ empresa.nombreTutor }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Provincia:</span> {{ empresa.provincia.nombre }}</li>
        </ul>
        <ul class="list-group col-sm-12 col-md-6 mt-2">
            <li class="list-group-item text-light mb-0 bg-secondary font-weight-bold text-uppercase text-center"><h3 class="font-weight-bold"><i class="fas fa-map-marker-alt"></i> Localización</h3></li>
            <li class="list-group-item"><span class="font-weight-bold">Dirección:</span> {{ empresa.direccion|default('label.nodata'|trans) }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Población:</span> {{ empresa.poblacion|default('label.nodata'|trans) }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Código Postal:</span> {{ empresa.codpostal|default('label.nodata'|trans) }}</li>
        </ul>
        <ul class="list-group col-sm-12 col-md-6 mt-2">
            <li class="list-group-item text-light mb-0 bg-warning font-weight-bold text-uppercase text-center"><h3 class="font-weight-bold"><i class="fas fa-address-card"></i> Contacto</h3></li>
            <li class="list-group-item"><span class="font-weight-bold">Móvil:</span> {{ empresa.movil }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Tlf. Fijo:</span> {{ empresa.fijo|default('label.nodata'|trans) }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Correo:</span> {{ empresa.correo }}</li>
        </ul>
        <ul class="list-group col-sm-12 mt-2">
            <li class="list-group-item text-light mb-0 bg-info font-weight-bold text-uppercase text-center"><h3 class="font-weight-bold"><i class="fas fa-book"></i> Fct</h3></li>
            <li class="list-group-item"><span class="font-weight-bold">FCT: </span></li>
        </ul>
    </div>
{% endblock %}