{% extends 'base.html.twig' %}
{% block title %}Alumnos - Listado{% endblock %}
{% block header %}
{% endblock %}
{% block container %}
    <h1 style="text-align: center;">Alumnos</h1>
    <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
        <thead>
            <tr style="border: 1px solid black; border-collapse: collapse;">
                <th style="border: 1px solid black; border-collapse: collapse;" scope="col">NIF</th>
                <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Nombre</th>
                <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Apellidos</th>
                <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Correo</th>
                <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Ciclo</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
                <tr style="border: 1px solid black; border-collapse: collapse; text-align: center;">
                    <th style="border: 1px solid black; border-collapse: collapse;" scope="row">{{ alumno.nif }}</th>
                    <td style="border: 1px solid black; border-collapse: collapse;">{{ alumno.nombre }}</td>
                    <td style="border: 1px solid black; border-collapse: collapse;">{{ alumno.apellido1 }} {{ alumno.apellido2 }}</td>
                    <td style="border: 1px solid black; border-collapse: collapse;">{{ alumno.correo }}</td>
                    <td style="border: 1px solid black; border-collapse: collapse;">{{ alumno.ciclo.codigo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}{% endblock %}