{% extends 'base.html.twig' %}
{% block title %}Empresas - Listado{% endblock %}
{% block header %}
{% endblock %}
{% block container %}
    <h1 style="text-align: center;">Empresas</h1>
    <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
        <thead>
        <tr style="border: 1px solid black; border-collapse: collapse;" class="text-center">
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">CIF</th>
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Nombre</th>
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Tutor</th>
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Correo</th>
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Móvil</th>
        </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr style="border: 1px solid black; border-collapse: collapse; text-align: center;" class="text-center">
                <th style="border: 1px solid black; border-collapse: collapse;" scope="row">{{ empresa.cif }}</th>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ empresa.nombre }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ empresa.nombreTutor }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ empresa.correo }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ empresa.movil }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}{% endblock %}