{% extends 'base.html.twig' %}
{% block title %}FCTs - Listado{% endblock %}
{% block header %}
{% endblock %}
{% block container %}
    <div class="card mb-4">
        <div class="card-body">
            <h1>FCTs</h1>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="text-center">
            <th scope="col">Alumno</th>
            <th scope="col">Empresa</th>
            <th scope="col">Profesor</th>
            <th scope="col">Ciclo</th>
            <th scope="col">Año</th>
            <th scope="col">Periodo</th>
        </tr>
        </thead>
        <tbody>
        {% for fct in fcts %}
            <tr class="text-center">
                <th scope="row">{{ fct.alumno.nombre }} {{ fct.alumno.apellido1 }} {{ fct.alumno.apellido2 }}</th>
                <td>{{ fct.empresa.nombre }}</td>
                <td>{{ fct.profesor.nombre }}</td>
                <td>{{ fct.ciclo.nombre }} ({{ fct.ciclo.codigo }})</td>
                <td>{{ fct.anio }}</td>
                <td>{{ fct.periodo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}