{% extends 'base.html.twig' %}
{% block title %}Profesores - Listado{% endblock %}
{% block header %}
{% endblock %}
{% block container %}
    <h1 style="text-align: center;">Profesores</h1>
    <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
        <thead>
        <tr style="border: 1px solid black; border-collapse: collapse;">
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">NIF</th>
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Nombre</th>
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Apellidos</th>
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Usuario</th>
            <th style="border: 1px solid black; border-collapse: collapse;" scope="col">Correo</th>
        </tr>
        </thead>
        <tbody>
        {% for profesor in profesores %}
            <tr style="border: 1px solid black; border-collapse: collapse; text-align: center;" >
                <th style="border: 1px solid black; border-collapse: collapse;" scope="row">{{ profesor.nif }}</th>
                <td style="border: 1px solid black; border-collapse: collapse;" >{{ profesor.nombre }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;" >{{ profesor.apellido1 }} {{ profesor.apellido2 }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;" >{{ profesor.username }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;" >{{ profesor.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}{% endblock %}